html, body { 
	height: 100%;
	margin: 0;
	padding: 0;
}
header {
	position: fixed;
    width: 100%;
    z-index: 20;
    background-color: #000000;
    display: inline;
}
h3 {
	color: white;
	margin: 0 0 0 0;
}
ul {
	list-style-type: none;
}
.title {
	display: inline-block;
	margin: 0 0 5px 10px;
}
#map {
	height: 100%;
}
#sidebar {
	height: 100%;
	width: 230px;
	background-color: black;
    top: 0px;
    position: fixed;
    z-index: 10;
}
.searchbar {
	margin-top: 33px;
}
.input-group {
	width: 100%;
}
#hamburger {
    cursor: pointer;
    display: inline-block;
    height: 24px;
    padding: 6px 4px 3px;
    position: relative;
    width: 25px;
    background-color: black;
    margin-left: 5px;
}
#hamburger div {
    background-color: white;
    border-radius: 2px 2px 2px 2px;
    height: 2px;
    margin-top: 3px;
    width: 90%;
}